## Saikiran N. Pasikanti
### Descriptive Statistics


Use inbuilt data set: “airquality” and solve the following questions.<br>
[Comment on findings (Comments may be comparative/ Descriptive)]

In [1]:
# Loading the data set "airquality" 
data(airquality) 
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [7]:
summary(airquality) 
# For convenience, we have attached the data set 
attach(airquality)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

The following objects are masked from airquality (pos = 3):

    Day, Month, Ozone, Solar.R, Temp, Wind

1. Find Arithmetic Mean of variable Temp (i.e. numeric Temperature, degrees F).

In [3]:
mean(Temp) # mean value of Temp is 77.88235 degrees F

[1] 77.88235

In [4]:
# mean value of Temp after rouding off 
round(mean(Temp),digits=2) 
# The average value of Temperature (of New York city for the given three month data) is around 77.88 degrees F

[1] 77.88

2. Find Median of variable Temp (i.e. numeric Temperature, degrees F).

In [6]:
median(Temp) 
# median value of Temp is 79 degrees F 
# 79 degrees F is the middle most value of all observations of variable Temp 
# One-half of the data lie above this observation, and one-half of the data lie below it

[1] 79

3. Find Variance of variable Temp (i.e. numeric Temperature, degrees F).

In [10]:
# the variance of the numbers is the sum of squared deviations of each value from the mean value, divided by the sample size minus one. 
v <- var(Temp)
v
# The variance of the variable Temp is 89.59133 degrees F

[1] 89.59133

In [11]:
# The value of variance of Temp after rounding off 
round(v,digits=2) 
# The value of Variance is 89.59 degrees F 
# the data are spread more widely around the mean=89.59

[1] 89.59

4. Find Arithmetic Mean of variable Ozone (i.e. numeric Ozone, ppb).

In [12]:
mean(Ozone,na.rm=T) # the value of mean removing the missing values is 42,12931 
# replcacing the missing values of Ozone with median value

[1] 42.12931

In [13]:
Ozone[is.na(Ozone)] <- median(Ozone,na.rm=T) 
sum(is.na(Ozone)) 
# this step verifies that there are no missing values

[1] 0

In [14]:
mean(Ozone) 
# the mean value of Ozone is 39.55 after replacing the missing values with median

[1] 39.55882

5. How you will get all the summary of all given variables in single command?

In [15]:
summary(airquality) 
# By using command summary(airquality), we can get the summary all given variables 
# The result of this command mainly show the mean,median,quantile values etc.

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0